@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Rowdies', cursive;
    scrollbar-width: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.card {
    background-color: rgb(22, 22, 22);
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 30px;
    border-radius: 20px;
}

.error {
    color: red;
}

#step1>.error {
    margin-bottom: 30px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(12, 12, 12);
    padding: 10px;
    margin-bottom: 40px;
}

#avatar-img {
    width: 70px;
    height: 70px;
    margin-right: 30px;
    border-radius: 90px;
    background-color: rgb(31, 31, 31);
}

#success {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#success>img {
    width: 100%;
    max-height: 70vh;
    border-radius: 20px;
    margin-bottom: 30px;
}

#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input,select {
    margin-top: 15px;
    font-size: 25px;
    border: none;
    outline: none;
    padding: 8px 20px;
    background-color: rgb(14, 14, 14);
    border-radius: 10px;
}

input[type=submit] {
    background-color: rgb(0, 86, 156);
    transition: all 0.3s;
}

input[type=submit]:hover {
    background-color: rgb(0, 53, 97);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.logo>img {
    width: 100px;
    height: 100px;
}

.logo>h1 {
    margin-left: 20px;
    font-size: 40px;
}

#step1>p {
    font-size: 30px;
    margin-bottom: 5px;
}

#step2>p {
    font-size: 30px;
    margin-bottom: 5px;
}


.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}